apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: helmrepos.operator.ibm.com
spec:
  group: operator.ibm.com
  versions:
  - name: v1
    served: true
    storage: true
  names:
    kind: HelmRepo
    listKind: HelmRepoList
    plural: helmrepos
    singular: helmrepo
  scope: Namespaced
  subresources:
    status: 
      description: 'placeholder description'
  validation:
    openAPIV3Schema:
      description: HelmRepo is the Schema for the helmrepos API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: map
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: map
        spec:
          properties:
            auditService:
              type: object
              properties:
                config:
                  type: object
                  properties:
                    enabled:
                     type: boolean
                image:
                  type: object
                  properties:
                    pullPolicy:
                      type: string
                    repository:
                      type: string
                    tag:
                      type: string
                name:
                  type: string
            helmrepo:
              type: object
              properties:
                WLP_Creds:
                  type: object
                  properties:
                    oidcClientId:
                      type: string #could be int
                    oidcClientSecret:
                      type: string
                    oidcName: 
                      type: string
                    redirectURL:
                      type: string
                env:
                  type: object
                  properties:
                    CHARTS_REPO_NAME:
                      type: string
                    CLUSTER_CA_DOMAIN:
                      type: string
                    CLUSTER_PORT:
                      type: integer
                    PROXY_ROUTE:
                      type: string
                image:
                  type: object
                  properties:
                    name:
                      type: string
                    pullPolicy:
                      type: string
                    repository:
                      type: string
                    tag:
                      type: string
                resources:
                  type: object
                  properties:
                    limits:
                      type: object
                      properties:
                        cpu:
                          type: string
                        memory:
                          type: string
                    requests:
                      type: object
                      properties:
                        cpu:
                          type: string
                        memory:
                          type: string
                volumeMounts:
                  type: object
                  properties:
                    repoAssetsMountPath:
                      type: string
                    repoAssetsName:
                      type: string
            mongo:
              type: object
              properties:
                clientcertssecret:
                  type: string
                clustercertssecret:
                  type: string
                host:
                  type: string
                password:
                  type: object
                  properties:
                    key:
                      type: string
                    secret:
                      type: string
                port:
                  type: integer
                username:
                  type: object
                  properties:
                    key:
                      type: string
                    secret:
                      type: string
            nodeSelector:
              type: object
            replicaCount:
              type: integer
            runAsUser:
              type: integer
          required:
          - helmrepo
          - mongo
          - replicaCount
          - runAsUser
          type: object
        status:
          properties:
            conditions:
              items:
                properties:
                  lastTransitionTime:
                    type: string
                  lastUpdateTime:
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
                required:
                - status
                - type
                type: object
              type: array
            deployedRelease:
              properties:
                manifest:
                  type: string
                name:
                  type: string
              type: object
            type: object
      required:
      - metadata
      - spec     
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
