apiVersion: operator.ibm.com/v1alpha1
kind: HelmRepo
metadata:
  name: helm-repo
  annotations:
    helm.operator-sdk/upgrade-force: "True"
  labels:
    app.kubernetes.io/instance: helm-repo
    app.kubernetes.io/managed-by: helmrepos.operator.ibm.com
    app.kubernetes.io/name: helm-repo
spec:
  auditService:
    config:
      enabled: true
    resources:
      limits:
        cpu: 200m
        memory: 250Mi
      requests:
        cpu: 200m
        memory: 250Mi
  helmrepo:
    resources:
      limits:
        cpu: 100m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 512Mi
  replicaCount: 1